.animal-listing-title {
  position: relative;
  top: 20x;
  letter-spacing: 5px;
  font-weight: bold;
  color: #022B3A;
  justify-content: center;
  align-items: center;
  padding: 30px;
  margin: 24px;
}
