.card-category-search {
  h1 {
    font-size: 25px;
  }
}

.search-card-home {
  display: flex;
  align-item: center;
  margin-right: 0px;
}

.search-input {
  margin-bottom: 0px;
  width: 220px;
}

.btn-home {
  width: 142px;
  display: flex-end;
}
