<div class="footer">
  <div class="column">
    <h5 class="text-uppercase">Xtinct :</h5>
    <div class="links-text">
      <a href="#!">About us |</a>
      <a href="#!">Contact |</a>
      <a href="#!">Privacy policy |</a>
      <a href="#!">FAQ</a>
    </div>
  </div>

  <div class="footer-links">
    <a href="#"><i class="fab fa-instagram"></i></a>
    <a href="#"><i class="fab fa-facebook"></i></a>
    <a href="#"><i class="fab fa-twitter"></i></a>
    <a href="#"><i class="fab fa-linkedin"></i></a>
  </div>
</div>
